NODE_ENV=staging

# Staging
STAGING_SECRET_KEY=your_staging_secret_key
STAGING_TWILIO_FROM_PHONE=+1xxxxxxxxxx
STAGING_TWILIO_ACCOUNT_SID=your_twilio_account_sid
STAGING_TWILIO_AUTH_TOKEN=your_twilio_auth_token

# Production
PRODUCTION_SECRET_KEY=your_production_secret_key
PRODUCTION_TWILIO_FROM_PHONE=+1xxxxxxxxxx
PRODUCTION_TWILIO_ACCOUNT_SID=your_twilio_account_sid
PRODUCTION_TWILIO_AUTH_TOKEN=your_twilio_auth_token
